<div class="loginFormContainer">
    <h1>LogIn</h1>
    <form class="form" (submit)="onLogin($event)">
        <div class="formElement">
            <label class="label" for="email">Email</label>
            <input type="email" name="email" id="">
        </div>
        <div class="formElement">
            <label class="label" for="password">Password</label>
            <input type="password" name="password" id="">
        </div>

        <div class="formElement loginButton">
            <button type="submit">Login</button>
        </div>

    </form>
</div>