<div class="signupFormContainer">
    <h1>SignUp</h1>
    <form class="form" (submit)="onSignUp($event)">
        <div class="formElement">
            <label class="label" for="name">Name</label>
            <input type="text" class="name">
        </div>
        <div class="formElement">
            <label class="label" for="email">Email</label>
            <input type="email" name="email" id="">
        </div>
        <div class="formElement">
            <label class="label" for="password">Password</label>
            <input type="password" name="password" id="">
        </div>
        <div class="formElement">
            <label class="label" for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="">
        </div>
        <div class="formElement signupButton">
            <button type="submit">Signup</button>
        </div>

    </form>
</div>