.profileFormContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.form {
  width: 50%;
}

.formElement {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  margin: 1em;
}

input {
  width: 50%;
}

.uploadButton {
  margin: 1rem;
}

.updateProfileButtonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.dateclass {
  width: 100%;
}

.dateclass.placeholderclass::before {
  width: 100%;
  content: attr(placeholder);
}

.dateclass.placeholderclass:hover::before {
  width: 0%;
  content: "";
}

.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.profileHead {
  padding: 2em;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
